.container {
    position: relative !important;
    max-width: 700px;
    height: 400px;
    background-color: rgb(255, 255, 255);
}

.container::after {
    backdrop-filter: blur(100px);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.min_500px {
    min-height: 500px;
}

.circle {
    position: absolute;
    border-radius: 50%;
    animation: move 5s infinite;
}


.blue_box {
    border-radius: 50%;
    position: relative;
    animation: moveblueX 15s infinite linear, moveblueY 15s infinite linear;
    background-color: #ff0000;
}


@keyframes moveblueX {
    0% {
        left: 0;
    }

    25% {
        left: -134px;
    }

    50% {
        left: 400px;
    }

    75% {
        left: 100px;
    }

    100% {
        left: 0;
    }
}

@keyframes moveblueY {
    0% {
        top: 0;
    }

    25% {
        top: 150px;
    }

    50% {
        top: 384px;
    }

    75% {
        top: 100px;
    }

    100% {
        top: 0;
    }
}

.red_box {
    border-radius: 50%;
    animation: moveX 15s infinite, moveY 15s infinite;
    position: relative;
    background-color: #979797;
}

@keyframes moveX {
    0% {
        left: 300px;
    }

    25% {
        left: 500px;
    }

    50% {
        left: 700px;
    }

    75% {
        left: 190px;
    }

    100% {
        left: 300px;
    }
}

@keyframes moveY {
    0% {
        top: 0;
    }

    25% {
        top: 389px;
    }

    50% {
        top: 0;
    }

    75% {
        top: 390px;
    }

    100% {
        top: 0;
    }
}

.green_box {
    border-radius: 50%;
    animation: movegreenX 15s infinite, movegreenY 15s infinite;
    position: relative;
    background-color: #d7d7d7;
}

@keyframes movegreenX {
    0% {
        left: 0;
    }

    25% {
        left:   1010px;
    }

    50% {
        left: 700px;
    }

    75% {
        left: 500px;
    }

    100% {
        left: 0px;
    }
}

@keyframes movegreenY {
    0% {
        top: 269px;
    }

    25% {
        top:  140px;
    }

    50% {
        top: 360px;
    }

    75% {
        top: 5px ;
    }

    100% {
        top: 268px;
    }
}


.gray_box {
    border-radius: 50%;
    animation: movegray 15s infinite;
    position: relative;
}

@keyframes movegray {
    0% {
        top: 0;
        left: 0;
    }

    25% {
        top: 370px;
        left: 70px;
    }

    50% {
        top: 240px;
        left: 650px;
    }

    75% {
        left: -370px;
        top: 100px;
    }

    100% {
        left: 0;
        top: 0;
    }
}
